{
    874798472346349588: (
        points: {
            6: 1,
            4: 1,
        },
    ),
    874798494198673420: (
        points: {
            6: 3,
            4: 1,
        },
    ),
    875082658848317491: (
        points: {
            6: 1,
            4: 1,
        },
    ),
    874798517535780895: (
        points: {
            6: 1,
            4: 1,
        },
    ),
    874811917112315934: (
        points: {
            6: 0,
            4: 0,
        },
    ),
}