{
    "diamond miner": (
        name: "Diamond Miner",
        minimum: 0,
        maximum: 2,
        proportion: 5,
    ),
    "wood chopper": (
        name: "Wood Chopper",
        minimum: 0,
        maximum: 100,
        proportion: 15,
    ),
    "assistant": (
        name: "Assistant",
        minimum: 0,
        maximum: 1,
        proportion: 3,
    ),
    "nether": (
        name: "Nether",
        minimum: 0,
        maximum: 3,
        proportion: 2,
    ),
    "trader": (
        name: "Trader",
        minimum: 1,
        maximum: 1,
        proportion: 0,
    ),
}